<h1>Events List </h1>

    <% @full_data_events.each do |event| %>
    <p> Event Title:  <%= link_to "#{event.name}", event_path(event)  %> name: <%= "#{event.description}" %>, Creator: <%= "#{event.creator.name}" %> </p>

    <% end %>

